.timer {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40vw;;
  padding: 0;
  margin: 0; 
  border: 1px solid black;
}

.timer:hover .controls {
  display: flex;
  transition: all 0.2s ease-in-out;
}

.timer .controls {
  display: none;
}

.display {
font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 35vw;
  font-weight: bold;
  z-index: 1;
  color: rgba(255, 255, 255, 0.87);
}

.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.buttons-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  /* z-index: 2; */
}

.tasks-row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: aliceblue; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color:#1a1a1a
  /* z-index: 2; */
}


button {
  flex: 1;
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer; 
  flex: 1;
  transition: border-color 0.25s;
  width: 33%;
  height: 21.5vw;
  margin: 0.5vw;
  font-size: 7vw;
  text-align: center;
} 


.pomodoros {
  display: flex;
  flex-direction: row;
  font-size: 10vw;
}