@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);

.face {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: rgba(0, 0, 0, .1);
  border-radius: 50%;
  height: 100%;
  left: 52px;
  padding: 165px 40px 0;
  position: absolute;
  width: 296px;
  text-align: center;
  top: 52px;
}

.face h2 {
  font-weight: 300; 
}

.face div#lazy {
  border-radius: 20px;
  font-size: 76px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  width: 260px;
  left: 20px;
}